In [761]:
from pymongo import MongoClient
import pymongo
import pandas as pd
import requests
from bs4 import BeautifulSoup
import random
import re
import math

In [762]:
client = MongoClient("mongodb://localhost/companies")
db = client.get_database()

In [763]:
#compMoney = db.companies.find({'$and':[{"total_money_raised":{"$regex":".*M.*"}},{"founded_year":{"$gte":2000}}]},{'name':1,'total_money_raised':1,'offices':1,'_id':0}).sort("total_money_raised",-1)
#df = pd.DataFrame(compMoney)

compMoney = db.companies.find({"total_money_raised":{"$regex":".*M.*"}},{'name':1,'total_money_raised':1,'offices':1,'_id':0}).sort("total_money_raised",-1)
df = pd.DataFrame(compMoney)

In [764]:
df = df.explode('offices')
dfOfficeData = df[["offices"]].apply(lambda r: r.offices, result_type="expand", axis=1)
cleanData = pd.concat([df,dfOfficeData], axis=1)

In [765]:
cleanData = cleanData.drop(columns=["offices", "description", "address1", "address2", "zip_code", "state_code", "country_code"])
cleanData = cleanData.dropna()

In [766]:
atlanta = cleanData[cleanData['city'].str.contains("Atlanta")]
display(atlanta)
len(atlanta)

,name,total_money_raised,city,latitude,longitude
577,HowStuffWorks,$75M,Atlanta,37.090240,-95.712891
851,Zipcar,$60.7M,NW Atlanta,33.786263,-84.387794
949,Vertical Acuity,$6.08M,Atlanta,33.865682,-84.470944
1086,Google,$555M,Atlanta,33.781466,-84.387519
1442,EnerTech Environmental,$42M,Atlanta,33.772610,-84.350741
1505,Silverpop,$40M,Atlanta,33.882526,-84.465515
1508,Dayforce,$40M,Atlanta,33.887619,-84.710865
1554,Purewire,$4.75M,Atlanta,33.852384,-84.380568
1555,Purewire,$4.75M,Atlanta,33.852384,-84.380568
1824,Vitrue,$33M,Atlanta,33.756806,-84.392198
2026,OfferWire,$3.5M,Atlanta,34.046788,-84.300914
2700,Iconic Therapeutics,$2.5M,Atlanta,33.756855,-84.387899
2709,Sapient,$2.4M,Atlanta,33.854034,-84.358480
2716,LivePerson,$2.3M,Atlanta,33.865682,-84.470944
2839,GlobalCrypto,$1M,Atlanta,33.776834,-84.389588
2953,Reflex Systems,$18.5M,Atlanta,33.748995,-84.387982
3033,Vocalocity,$17.1M,Atlanta,33.781261,-84.367562
3160,Prenova,$15.7M,Atlanta,33.982967,-84.346041
3272,FTRANS,$14.1M,"Atlanta,",33.776198,-84.385257
3920,LoopFuse,$1.4M,Atlanta,33.909439,-84.440410

20

In [767]:
def asGeoJSON(lat,lng):
    try:
        lat = float(lat)
        lng = float(lng)
        if not math.isnan(lat) and not math.isnan(lng):
            return {
                "type":"Point",
                "coordinates":[lng,lat]
            }
    except Exception:
        print("Invalid data")
        return None
        

atlanta["location"] = atlanta[["latitude","longitude"]].apply(lambda x:asGeoJSON(x.latitude,x.longitude), axis=1)
atlanta[["latitude","longitude","location"]]

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

       latitude  longitude                                           location
577   37.090240 -95.712891  {'type': 'Point', 'coordinates': [-95.712891, ...
851   33.786263 -84.387794  {'type': 'Point', 'coordinates': [-84.3877936,...
949   33.865682 -84.470944  {'type': 'Point', 'coordinates': [-84.4709443,...
1086  33.781466 -84.387519  {'type': 'Point', 'coordinates': [-84.387519, ...
1442  33.772610 -84.350741  {'type': 'Point', 'coordinates': [-84.3507414,...
1505  33.882526 -84.465515  {'type': 'Point', 'coordinates': [-84.4655151,...
1508  33.887619 -84.710865  {'type': 'Point', 'coordinates': [-84.710865, ...
1554  33.852384 -84.380568  {'type': 'Point', 'coordinates': [-84.380568, ...
1555  33.852384 -84.380568  {'type': 'Point', 'coordinates': [-84.380568, ...
1824  33.756806 -84.392198  {'type': 'Point', 'coordinates': [-84.392198, ...
2026  34.046788 -84.300914  {'type': 'Point', 'coordinates': [-84.300914, ...
2700  33.756855 -84.387899  {'type': 'Point', 'coordinates': [-84.387899, ...
2709  33.854034 -84.358480  {'type': 'Point', 'coordinates': [-84.3584803,...
2716  33.865682 -84.470944  {'type': 'Point', 'coordinates': [-84.4709443,...
2839  33.776834 -84.389588  {'type': 'Point', 'coordinates': [-84.3895875,...
2953  33.748995 -84.387982  {'type': 'Point', 'coordinates': [-84.3879824,...
3033  33.781261 -84.367562  {'type': 'Point', 'coordinates': [-84.3675617,...
3160  33.982967 -84.346041  {'type': 'Point', 'coordinates': [-84.346041, ...
3272  33.776198 -84.385257  {'type': 'Point', 'coordinates': [-84.385257, ...
3920  33.909439 -84.440410  {'type': 'Point', 'coordinates': [-84.44041, 3...

## Vamos ahora hacer Web Scrapping para conseguir las coordenadas del aeropuerto de Atlanta

In [768]:
url = 'https://es.wikipedia.org/wiki/Aeropuerto_Internacional_Hartsfield-Jackson'
res = requests.get(url)
soup = BeautifulSoup(res.text, 'html.parser')

In [769]:
airportLat = soup.select('span.latitude')
airportLatitud = [a.text for a in airportLat]
airportLatitud = airportLatitud[1].split(',')
airportLatitud = float(airportLatitud[0])
airportLatitud

33.636666666667

In [770]:
airportLon = soup.select('span.longitude')
airportLongitud = float([a.text for a in airportLon][1])
airportLongitud

-84.428055555556

In [771]:
#airportName = soup.select('#firstHeading')
#airportName

In [772]:
aeropuerto = pd.DataFrame({'longitude': airportLongitud, 'latitude': airportLatitud}, index=[0])
aeropuerto

   longitude   latitude
0 -84.428056  33.636667

In [773]:
def asGeoJSON(lat,lng):
    try:
        lat = float(lat)
        lng = float(lng)
        if not math.isnan(lat) and not math.isnan(lng):
            return {
                "type":"Point",
                "coordinates":[lng,lat]
            }
    except Exception:
        print("Invalid data")
        return None
        

aeropuerto["location"] = aeropuerto[["latitude","longitude"]].apply(lambda x:asGeoJSON(x.latitude,x.longitude), axis=1)
aeropuerto[["latitude","longitude","location"]]

    latitude  longitude                                           location
0  33.636667 -84.428056  {'type': 'Point', 'coordinates': [-84.42805555...

In [774]:
def geocode(address):
    data = requests.get(f"https://geocode.xyz/{address}?json=1").json()
    return {
        "type":"Point",
        "coordinates":[float(data["longt"]),float(data["latt"])]
    }

atlantaUsa = geocode("Atlanta")
atlantaUsa

{'type': 'Point', 'coordinates': [-84.39015, 33.77729]}

In [775]:
def withGeoQuery(location,maxDistance=8000,minDistance=0,field="location"):
    return {
       field: {
         "$near": {
           "$geometry": location if type(location)==dict else geocode(location),
           "$maxDistance": maxDistance,
           "$minDistance": minDistance
         }
       }
    }

In [776]:
from pprint import pprint 

query = withGeoQuery(atlantaUsa)
pprint(query)

{'location': {'$near': {'$geometry': {'coordinates': [-84.39015, 33.77729],
                                      'type': 'Point'},
                        '$maxDistance': 8000,
                        '$minDistance': 0}}}

## Vamos ahora con los Starbucks

In [777]:
client = MongoClient("mongodb://localhost/starbucks")
db = client.get_database()

In [778]:
starbucksAtlanta = db.starbucks.find({"$and":[{"City":{"$eq":"Atlanta"}},{"Brand":{"$eq":"Starbucks"}}]},{'_id':0})
starbucksAtlanta = pd.DataFrame(starbucksAtlanta)

In [779]:
starbAtlanta = starbucksAtlanta.drop(columns=["Store Number", "Store Name", "State/Province", "Country", "Postcode", "Phone Number", "Timezone"])
starbAtlanta

,Brand,Ownership Type,Street Address,City,Longitude,Latitude
0,Starbucks,Company Owned,3520 Ashford Dunwoody Road,Atlanta,-84.33,33.89
1,Starbucks,Licensed,"2400 N Druid Hills Rd NE, Abernathy Square",Atlanta,-84.33,33.83
2,Starbucks,Company Owned,6681 K Roswell Rd,Atlanta,-84.38,33.94
3,Starbucks,Licensed,4484 Peachtree Rd NE,Atlanta,-84.33,33.87
4,Starbucks,Company Owned,"650 Ponce De Leon Avenue, Suite 700",Atlanta,-84.37,33.77
5,Starbucks,Company Owned,867 Peachtree St NE,Atlanta,-84.38,33.78
6,Starbucks,Licensed,1380 Oxflord Rd,Atlanta,-84.33,33.79
7,Starbucks,Company Owned,1152 Cumberland Mall,Atlanta,-84.47,33.88
8,Starbucks,Company Owned,"240 Peachtree Street NW, Cumberland Mall",Atlanta,-84.39,33.76
9,Starbucks,Licensed,266 4th St NW,Atlanta,-84.39,33.78
10,Starbucks,Company Owned,3660 Cascade Road SW,Atlanta,-84.51,33.72
11,Starbucks,Company Owned,931 Monroe Dr,Atlanta,-84.37,33.78
12,Starbucks,Licensed,800 Glenwood Ave,Atlanta,-84.36,33.74
13,Starbucks,Licensed,"125 Perimeter Ctr Pl W, Cumberland Mall",Atlanta,-84.34,33.93
14,Starbucks,Company Owned,1801 Howell Mill Rd,Atlanta,-84.41,33.80
15,Starbucks,Licensed,6000 N Terminal Parkway,Atlanta,-84.43,33.64
16,Starbucks,Licensed,267 Marietta Street NW,Atlanta,-84.39,33.76
17,Starbucks,Company Owned,2135 Briarcliff Road NE,Atlanta,-84.33,33.82
18,Starbucks,Licensed,"50 Hurt Plaza, Lenox Square Mall",Atlanta,-84.39,33.75
19,Starbucks,Company Owned,1203 West Paces Ferry Road NW,Atlanta,-84.43,33.85
20,Starbucks,Company Owned,"3393 Peachtree Rd, Suite 99",Atlanta,-84.36,33.85
21,Starbucks,Licensed,"1225 Caroline St NE, Lindbergh Plaza",Atlanta,-84.35,33.76
22,Starbucks,Company Owned,"2571 Piedmont Rd NE, Dunwoody Place Shopping C...",Atlanta,-84.37,33.83
23,Starbucks,Company Owned,"8725 Roswell Road, Suite 19",Atlanta,-84.35,33.99
24,Starbucks,Licensed,"3393 Peachtree Rd NE, CNN Center",Atlanta,-84.36,33.85
25,Starbucks,Company Owned,190 Marietta Street,Atlanta,-84.39,33.76
26,Starbucks,Company Owned,100 Peachtree St. NW,Atlanta,-84.39,33.76
27,Starbucks,Licensed,350 Spelman Lane SW,Atlanta,-84.41,33.75
28,Starbucks,Company Owned,2321 N Druid Hills Road,Atlanta,-84.33,33.83
29,Starbucks,Licensed,"6000 North Terminal Parkway, Suite 4000",Atlanta,-84.44,33.64
30,Starbucks,Company Owned,"3280 Peachtree Road NE, 110, Chastain Square II",Atlanta,-84.37,33.84
31,Starbucks,Company Owned,"4285 Roswell Rd, Unit 6",Atlanta,-84.38,33.87
32,Starbucks,Company Owned,"2900 Peachtree Road NE, Suite 310",Atlanta,-84.38,33.84
33,Starbucks,Licensed,"2455 Paces Ferry Road SE, n/a, Phipps Plaza",Atlanta,-84.48,33.86
34,Starbucks,Company Owned,3500 Peachtree Rd NE,Atlanta,-84.36,33.85
35,Starbucks,Company Owned,2333 Peachtree Road,Atlanta,-84.39,33.82
36,Starbucks,Company Owned,"1197 Peachtree Rd, Suite 400 E",Atlanta,-84.38,33.79
37,Starbucks,Licensed,6000 N Terminal Pkwy,Atlanta,-84.45,33.64
38,Starbucks,Licensed,"6000 N Terminal Pkwy, Concourse C Gate 37",Atlanta,-84.44,33.64
39,Starbucks,Company Owned,6001 Peachtree Dunwoody Road,Atlanta,-84.35,33.92
40,Starbucks,Company Owned,2495 Cumberland Pkwy SE,Atlanta,-84.48,33.86
41,Starbucks,Company Owned,21 14th Street NE,Atlanta,-84.39,33.79
42,Starbucks,Licensed,48 Fifth St NW,Atlanta,-84.39,33.78
43,Starbucks,Licensed,"Piedmont & Lindberg, Perimeter Mall",Atlanta,-84.36,33.82
44,Starbucks,Licensed,375 18th St,Atlanta,-84.40,33.79
45,Starbucks,Licensed,210 Peachtree Street NW,Atlanta,-84.39,33.76
46,Starbucks,Licensed,"361 17th st nw, Little Five Points Village",Atlanta,-84.40,33.79
47,Starbucks,Company Owned,506 Moreland Avenue,Atlanta,-84.35,33.77
48,Starbucks,Licensed,"227 Sandy Springs Pl, Lenox Square",Atlanta,-84.38,33.92
49,Starbucks,Company Owned,"2826 North Druid Hills Rd, Suite B",Atlanta,-84.31,33.82
50,Starbucks,Licensed,4920 Roswell Rd,Atlanta,-84.38,33.89
51,Starbucks,Licensed,1275 Caroline St,Atlanta,-84.35,33.76
52,Starbucks,Licensed,"265 Peachtree Center Ave, Ansley Mall",Atlanta,-84.39,33.76
53,Starbucks,Company Owned,"1544 Piedmont Rd NE, # 232",Atlanta,-84.37,33.80
54,Starbucks,Company Owned,6160 Roswell Road,Atlanta,-84.38,33.92
55,Starbucks,Company Owned,3901 Peachtree Rd NE,Atlanta,-84.34,33.86
56,Starbucks,Licensed,6000 North Terminal Parkway,Atlanta,-84.44,33.64
57,Starbucks,Company Owned,"1155 Mount Vernon Highway, Suite 1050",Atlanta,-84.35,33.93
58,Starbucks,Company Owned,3330 Piedmont Road,Atlanta,-84.37,33.85

In [780]:
def asGeoJSON(lat,lng):
    try:
        lat = float(lat)
        lng = float(lng)
        if not math.isnan(lat) and not math.isnan(lng):
            return {
                "type":"Point",
                "coordinates":[lng,lat]
            }
    except Exception:
        print("Invalid data")
        return None
        

atlanta["location"] = atlanta[["latitude","longitude"]].apply(lambda x:asGeoJSON(x.latitude,x.longitude), axis=1)
atlanta[["latitude","longitude","location"]]

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

       latitude  longitude                                           location
577   37.090240 -95.712891  {'type': 'Point', 'coordinates': [-95.712891, ...
851   33.786263 -84.387794  {'type': 'Point', 'coordinates': [-84.3877936,...
949   33.865682 -84.470944  {'type': 'Point', 'coordinates': [-84.4709443,...
1086  33.781466 -84.387519  {'type': 'Point', 'coordinates': [-84.387519, ...
1442  33.772610 -84.350741  {'type': 'Point', 'coordinates': [-84.3507414,...
1505  33.882526 -84.465515  {'type': 'Point', 'coordinates': [-84.4655151,...
1508  33.887619 -84.710865  {'type': 'Point', 'coordinates': [-84.710865, ...
1554  33.852384 -84.380568  {'type': 'Point', 'coordinates': [-84.380568, ...
1555  33.852384 -84.380568  {'type': 'Point', 'coordinates': [-84.380568, ...
1824  33.756806 -84.392198  {'type': 'Point', 'coordinates': [-84.392198, ...
2026  34.046788 -84.300914  {'type': 'Point', 'coordinates': [-84.300914, ...
2700  33.756855 -84.387899  {'type': 'Point', 'coordinates': [-84.387899, ...
2709  33.854034 -84.358480  {'type': 'Point', 'coordinates': [-84.3584803,...
2716  33.865682 -84.470944  {'type': 'Point', 'coordinates': [-84.4709443,...
2839  33.776834 -84.389588  {'type': 'Point', 'coordinates': [-84.3895875,...
2953  33.748995 -84.387982  {'type': 'Point', 'coordinates': [-84.3879824,...
3033  33.781261 -84.367562  {'type': 'Point', 'coordinates': [-84.3675617,...
3160  33.982967 -84.346041  {'type': 'Point', 'coordinates': [-84.346041, ...
3272  33.776198 -84.385257  {'type': 'Point', 'coordinates': [-84.385257, ...
3920  33.909439 -84.440410  {'type': 'Point', 'coordinates': [-84.44041, 3...